<div class="card">
    <div class="card-header">Reservations List</div><div class="card-body">
        <div class="row">
          <div class="col-md-6 left" *ngIf="byRooms">
            <h4>Filtrowanie po herosach:</h4>
            <select
                id="hero"
                name="hero"
                [(ngModel)]="listFilter"
            >
                <option value="" selected disabled hidden>Wybierz</option>
                <option *ngFor="let hero of heroes" >{{ hero }}</option>
            </select>
          </div>
          <div class="col-md-6 left" *ngIf="byHeroes">
            <h4>Filtrowanie po pokojach:</h4>
            <select
                id="room"
                name="room"
                [(ngModel)]="listFilter"
            >
                <option value="" selected disabled hidden>Wybierz</option>
                <option *ngFor="let room of rooms" >{{ room }}</option>
            </select>
          </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>RoomId</th>
                        <th>TenentId</th>
                        <th>Start</th>
                        <th>Koniec</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservation of filteredReservations">
                        <td>
                            <a [routerLink]="['/reservations', reservation.id]">{{reservation.id}}</a>
                        </td>
                        <td>{{reservation.roomId }}</td>
                        <td>{{ reservation.tenantId }}</td>
                        <td>{{ reservation.reservationStart }}</td>
                        <td>{{ reservation.reservationEnd }}</td>
                        <td>
                            <span
                                class="delete"
                                (click)="deleteReservation(reservation)"
                            >X</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" [routerLink]="['/reservationEdit']">
        Dodaj rezerwację
      </button>
    </div>
</div>